/* General Styles. These styles will reset the User Agent Stylesheet styles. */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
/* I've never seen a fixed margin be applied to all four sides of the viewport on the body tag. I got rid of that declaration because we'll want to apply custom margin and padding values to the different sections of the webpages. That would also negate the reset css styles at the very top that ensures every element on the web page is the exact size we tell it to be. Resets are EXTREMELY common! :)*/

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

.container {
  max-width: 1100px;
  margin: auto;
}

/* Navbar */
.navbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar .logo {
  font-size: 2rem;
}

.navbar .nav-links {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  justify-content: center;
}

.navbar .nav-links a {
  padding: 0 1rem;
  font-size: 1.1rem;
  color: #333;
}
  
/* Gallery */
.gallery-container {
  display: block;
}

img {
  max-width: 200px;
  max-height: 200px;
}

/* Footer */
footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 0;
  background-color: #ccc;
}

footer ul li a {
  display: inline-block;
  padding: 10px;
}



/* Responsive gallery design */

/* 
 UPDATE! There are two very popular media query breakpoints in responsive design. 
    The first is 480px and this is the size of iPhone screen widths. 
    The second is 768px and this is the size of iPad screen widths. 
I am going to change the sizes and I am going to change these media queries from max-width to min-width. Min-width is for mobile-first approaches. Also, I am going to refrain from adding any media query styles until the very end. All of our CSS styles abov the media queries will be considered base styles and they will all be written as a single-column layout best suited for mobile devices. All of the media query styles will be written as an expansion of our single-column layout (i.e. 2-column layout on iPads and a 3-column layout on desktop). 
  @media only screen and (min-width: 480px)  {
    }

    @media only screen and (min-width: 768px)   {
    } */

